*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-light-grey {
  background: #eff2f4;
}

.page-container {
  height: 100vh;
  overflow: scroll;
  background-color: rgb(229, 234, 238);
}

.page-wrapper {
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
}

.capitalize {
  text-transform: capitalize;
}

.habit-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.habit-wrapper {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header {
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 2rem;
}

.page-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.page-header-card {
  border: solid grey 1px;
  padding: 1rem;
  border-radius: 0.5rem;;
}

.horizontal-scroll {
  overflow-x: scroll;
  white-space: nowrap;
}

.table-date {
  display: block;
  text-align: center;
  margin: auto;
  font-weight: 700;
  white-space: break-spaces;
  line-height: 15px;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
}

.habit-table th {
  padding: 0.3rem;
}

.habit-table th {
  width: 50px;
}

.habit-name {
  overflow-x: scroll;
}

.table-habit-name {
  text-transform: capitalize;
  text-align: left;
  font-size: 0.5rem;
  background-color: white;
  width: 150px;
  width: 100%;

  min-width: 150px;
  max-width: 150px;
}

.table-habit-tr {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.table-cell {
  width: 100%;
  min-width: 20px;
  text-align: center;
}

.habit-entry {
  background-color: #dbdbdb;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  color: #000000;
}

.habit-entry--check {
  background-color: #64c23a;
}

.habit-entry--close {
  background-color: #ff5600;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.table-habit-dates {
  margin-left: 160px;
}
